.container
  .content
    .page-header
      h1                      
        if title
          a(href="/"+code)= title
        else
          a(href="/"+code)= code
    .row            
      .span8
        table
          tbody
            tr
              td Destination
              td
                a(href=url)=url
            tr
              td Creator
              td= creator
            tr
              td Visits
              td= hits
            tr
              td Title
              td= title
            tr
              td Description
              td= description
            tr
              td Link
              td
                a(href="/"+code)=code
            tr
              td JSON Link
              td
                a(href="/"+code+".json")=code + ".json"
  footer
    p
      Copyright &copy; 2011, Do.
